* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}
header {
  background-image: url(img/jumbo.png);
  background-size: 100%;
}
.box-header {
  min-height: 50px;
  display: flex;
  justify-content: center;
}

.box {
  width: 80%;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  /* DEBUG */
  min-height: 40px;
  /* background-color: coral; */
}

.logo {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
}

.link {
  flex-basis: 50%;
  align-self: center;
  display: flex;
  justify-content: space-around;
}
.decoration {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.login {
  flex-basis: 25%;
  text-align: center;
  align-self: center;
}
.accesso {
  width: 60px;
  height: 25px;
  border-radius: 15px;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
  /* DEBUG */
  width: 100%;
}

.intro {
  width: 40%;
}

.titolo {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}
.descrizione {
  font-size: 18px;
  color: white;
  font-weight: 900;
}
.centrato {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.collegamenti {
  margin: 20px;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
}
.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
/* sezione 2 */

/* sezione 2/4 */
.bianco {
  min-height: 450px;
  background-color: white;
}
.box-doppio {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 70%;
}
.img_study {
  background-color: white;
  flex-basis: 60%;
}

.description {
  background-color: white;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.title {
  width: 290px;
  font-size: 40px;
  font-weight: 900;
}
.text {
  width: 290px;
}

/* sezione2/4 */
/* sezione3 */
.grigio {
  background-color: lightgray;
}
/* sezione4 */
/* sezione5 */
.descrizione_chilling {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title_chilling {
  width: 850px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.text_chilling {
  width: 850px;
  text-align: center;
}

.chilling {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* sezione 5 */

/* FOOTER */
/* sezione 1 */
.sezione1 {
  padding: 10px 0 30px 20px;
  background-color: darkslategrey;
  border-bottom: solid white 1px;
  /* BORDER */
  min-height: 400px;
}

.coral {
  background-color: lightcoral;
  flex-basis: 30%;
}
.column {
  flex-basis: 25%;
  border-style: dotted;
}
.container_cyan {
  display: flex;
  justify-content: center;
  background-color: cyan;
  flex-basis: 70%;
  /* DEBUG */
  width: 100%;
}
/* sezione 2 */
.sezione2 {
  min-height: 5px;
  background-color: darkslategrey;
  padding: 10px 0 0 0;
}

.fine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG*/
  background-color: cyan;
  width: 70%;
  min-height: 40px;
}
/* sezione 2 */
